# Python cache.
__pycache__

# Virtual environment.
.venv

# JetBrains cache.
.idea

# VS Code cache.
.vscode

# Cadence configurations.
.cadence

# Don't need TEX files made specifically for paper formatting.
*.tex

# Do not backup the files which contain model keys.
Keys