# Python cache.
__pycache__

# Virtual environment.
venv

# JetBrains cache.
.idea

# VS Code cache.
.vscode

# Cadence configurations.
.cadence

# Do not backup the files which contain model keys.
Keys